// BACKGROUND COLORS

$cor-fundo-1: #FFFFFF;
$cor-fundo-2: #F2F2F2;
$cor-fundo-3: #75BC97;

// FONT COLORS

$cor-fonte-1: #0C261C;
$cor-fonte-2: #1E6B4E;
$cor-fonte-3: #848484;
$cor-fonte-4: #FFFFFF;
